{% extends "base.html" %}

{% block top_link_1 %}
    <a href="{% url "events:event_list" %}">View events</a>
{% endblock %}

{% block top_link_2 %}
    {% if request.user.is_matchmaker %}
            <a href="events:user_list">View Users</a>
    {% elif request.user.is_single %}
            <a href="###">Add Reply</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="event_announcement">
        <h1>{{ object.title }}</h1><br/>
        {% if object.description %}
            <h2>{{ object.description|linebreaks }}</h2>
        {% endif %}

        <h3>At {{ object.date }}</h3>
        <h3>The event is only for the first {{ object.singles_num }} singles only.</h3>
    </div>
{% endblock %}
