{% extends "base.html" %}
{% load staticfiles bootstrap3 %}

{% block content %}
    {% bootstrap_messages %}
    {% if object_list %}

        <table class="table table-bordered col-ms-6">
            <thead>
            <tr>
                <th>User Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Is Cohen</th>
{#                <th>Is Single</th>#}
{#                <th>Is Matchmaker</th>#}
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.user }}</a></td>
                    <td>{{ object.dob }}</td>
                    <td>{{ object.get_gender_display }}</td>
                    <td>{{ object.get_status_display }}</td>
                    <td>{{ object.is_cohen|yesno }}</td>
{#                    <td>{{ object.is_matchmaker }}</td>#}
{#                    <td>{{ object.is_single }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% bootstrap_pagination page_obj %}

    {% else %}
        No users Yet.
    {% endif %}
{% endblock %}
