{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }} | SpeedateEvent
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    {#    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">#}
    {#    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">#}
    <link href="{% static "css/events.css" %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-heart"></span>SpeedateEvent</a>
                <button type="button" class="navbar-toggle" data-target="#MainNavBar" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="MainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    {% if request.user.profile.is_matchmaker %}
                        <li><a href="/create-event">Create New event</a></li>
                    {% endif %}
                    <li>{% block top_link_1 %}{% endblock %}</li>
                    <li>{% block top_link_2 %}{% endblock %}</li>
                    <li>{% block top_link_3 %}{% endblock %}</li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search"/>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if not request.path == '/login/' and not request.path == '/signup/' %}
                        <li><a href="/logout/">Hello {{ user.get_username }} @
                            {% if request.user.profile.is_matchmaker %}
                                Matchmaker
                            {% elif request.user.profile.is_single %}
                                Single
                            {% endif %}
                            , Logout</a></li>
                    {% elif request.path == '/login/' %}
                        <li><a href="/signup/">Hello Guest, Signup</a></li>
                    {% elif request.path == '/signup/' %}
                        <li><a href="/login/">Hello Guest, Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
        {#        CONTENT#}
    {% endblock %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{#<script src="{% static "js/jquery-3.1.0.js" %}"></script>#}
{#<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>#}

</body>
</html>